div.container {
    width: 100%;
    border: 1px solid gray;
    margin-left: 2px;
    margin-right: 2px;
}
.hide_content {
display: none;
 }
h1{
  text-align: center;
  font-style: italic;
  text-shadow: 0.1em 0.1em 0.15em #333;
  font-size: 3em;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: Crimson ;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 170px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: scroll;
    height: 560px;
}
h2{
  padding: 1em;
  color: white;
  background-color: powderblue;
  clear: left;
  text-align: center;
  font-style: italic;
}

#displayInfo{
  margin-top: 30px;
  width: 170px;
  height: 150px;
  background-color: yellow;
  box-shadow: 10px 10px 5px #888888;
  font-style: italic;
  display:none;
  /*transition-timing-function: ease-in;
transition: 0.2s;
transform: translateY(130%);*/

  /*font-weight: bold;*/
}
img{
  cursor: pointer;
}
